<div class="center hero-unit">
  <h1>Welcome to the LunchPrint</h1>

  <h2>
    Ian is trying to build a Ruby on Rails website for LunchPrint
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
